*.generated
*.cmi
*.cmo
*.cmx
*.cmt
*.cmti
*.o
*.output
.depend
*.log
*~
config.status
share/Makefile.config
share/Makefile.dynamic_config
share/Makefile.kernel
share/frama-c.rc
*.check_mli_exists
bin/*

